body {
    scroll-behavior: smooth;
}

.hero {
    background: linear-gradient(to right, #212529, #0d6efd);
    color: white;
    padding: 90px 20px;
    text-align: center;
}

.section-title {
    color: #0d6efd;
    font-weight: bold;
    margin-bottom: 30px;
}

.tech-box {
    border-left: 5px solid #0d6efd;
    padding: 15px;
    background: #f8f9fa;
    margin-bottom: 15px;
}

footer {
    background-color: #212529;
    color: white;
    padding: 15px;
}
